RewriteEngine On
Options +FollowSymLinks 
RewriteRule  "^api\/modules\/"   									"api/index.php?controller=modules"   				[QSA,L]
RewriteRule  "^api\/([a-zA-Z0-9]+)\/$"   								"api/index.php?controller=$1"   				[QSA,L]
RewriteRule  "^api\/([a-zA-Z0-9]+)\/([a-zA-Z0-9\-]+)\/$"  				"api/index.php?controller=$1&uri=$2"   		[QSA,L]
RewriteRule  "^api\/([a-zA-Z0-9]+)\/([a-zA-Z0-9\-]+)\/([a-zA-Z0-9]+)\/$"  "api/index.php?controller=$1&uri=$2&id=$3"   [QSA,L]

#### Rule for Error Page - 404 ####
ErrorDocument 404 /404.php

php_value max_input_vars 3000